@media only screen and (max-device-width: 450px) {

    button{
        height: 80px;
        font-size: 24px;
        padding-left: 12px;
        padding-right: 12px;
    }
    h1{
        text-align: center;
    }

    h2{
        line-height: 68px;
        font-size: 64px;
    }

    h5{
        font-size: 36px;
        text-align: center;
    }

    p{
        font-size: 24px;
    }

    a{
        font-size: 28px;
        color: #1E1E1E
    }

    .content-container{
        width: 94vw;
        max-width: 94vw;
    }
    .barra-navegacao{
        width: 100%;
        margin-top: 24px;
        padding-bottom: 200px;
    }
    .section-hero{
        height: 56vh;
    }
    .hero-info{
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding-bottom: 88px;
        margin-top: 156px;
    }

    .hero-info-title{
        font-size: 56px;
        margin-top: 12px;
    }

    .hero-info-subtitle{
        font-size: 32px;
        line-height: 36px;
        max-width: 70%;
        margin-left: 140px;
        margin-bottom: 40px;
        
    }

    .hero-info-text-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin-top: 24px;
    }


    .hero-info-image{
        width: 390px;
        height: auto;
    }

    .hero-info-icons-image{
        width: 56px;
        height: 56px;
    }

    .hero-info-icons-container{
        margin-top: 40px;
        margin-left: 220px;
        width: 60%;
    }

    

    .section-abilities{
        margin-top: 500px;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
    }

    .ability-card-container{
        justify-content: space-between;
        row-gap: 56px;
        grid-template-columns: auto auto;
        margin-top: 44px;
        width: 100%;
    }

    .ability-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 44vw;
        height: auto;
        padding-top: 16px;
    }

    

    .ability-card-subtitle{
        font-size: 24px;
        margin: 12px;
        text-align:center;
        max-width: 70%;
    }

    .section-experiencias{
        padding-top: 60px;
        padding-bottom: 20px;
    
    }

    .section-experiencias-card{
        width: 94%;
        margin-top: 50px;

    }
    .section-portfolio-grid{
        row-gap: 36px;
        grid-template-columns: auto auto;
        justify-content: space-between;
        margin-top: 40px;
    }

    .section-portfolio-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 46vw;
        height: auto;
        padding: 24px 0px;
    }

    .section-portfolio-card-icons{
        width: 40px;
        height: auto;
    }

    .section-portfolio-icons-container{
        width: 40%;
    }

    
    .links-navegacao{
        display: none;
    }
    .titulo-navegacao{
        font-size: 32px;
        align-items: flex-start;
    }

    .section-contact{
        padding-bottom: 60px;
    }

    .section-footer-content{
        width: 94vw;
        max-width: 94vw
    }

    .section-footer-container{
        width: 60%;
    }  
}