@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #FEFEFE;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

h1{
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-family: 'Montserrat', sans-serif;
    line-height: 58px;
    font-size: 56px;
    color:#1E1E1E;
    margin: 0px;
    padding: 0px;
}

h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
}

a{
    color: #1E1E1E
}


button{
    color: #FEFEFE;
    height: 56px;
    background-color: #219653;
    border-radius: 16px;
    border-width: 0px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.16rem;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
   
}
li{
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: 500;
}

footer{
    display: flex;
    flex-direction: row;
    height: 156px;
    width: 100vw;
    background-color: #D9D9D9;
    align-items: center;
    justify-content: center;
}

.titulo-navegacao{
    color:#1E1E1E;
    font-size: 24px;
    letter-spacing: -0.015rem;
    font-weight: bold;
    cursor: pointer;
}

.links-navegacao{
    color: #1E1E1E;
    font-size: 16px;
    letter-spacing: -0.015rem;
    margin-right: 16px;
    cursor: pointer;
}


.barra-navegacao{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    width: 1216px;
    height: 72px;
    margin-top: 64px;
}

.root-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.content-container{
    display: flex;
    flex-direction: column;
    width: 1216px;
    align-items: center;
    justify-content: flex-start;
}

.section-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 90vh;
}

.hero-info{
    display: flex;
    flex-direction: row;
    width: 1216px;
    height: 594px;
    align-items: center;
    justify-content: space-between;
    padding-top: 64px;
}

.hero-info-title{
    font-size: 48px;
    font-weight: bold;
    margin: 0px;
}
.hero-info-subtitle{
    font-size: 20px;
    line-height: 28px;
    max-width: 62%;
    margin-top: 16px;
}

.hero-info-image{
    height: 593px;
    width: 542px;
    border-radius: 40px;
    border-style: solid;
    border-width: 4px;
    border-color: #219653;
}

.hero-info-icons-container{
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

.hero-info-icons-image{
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.section-abilities{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding-top: 64px;
    padding-bottom: 64px;
}

h2.verde{
    color: #219653;
}

.ability-card-container{
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    column-gap: 36px;
    margin-top: 48px;
}

.ability-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 312px;
    height: 690px;
    border-width: 1px;
    border-color: #d9d9d9;
    border-radius: 12px;
    border-style: solid;
    padding-top: 16px;
}

.ability-card-icons-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #219653;
    margin-bottom: 12px;
}

.ability-card-icon-img{
    width: 40px;
    height: 40px;
}

.ability-card-subtitle{
    font-size: 16px;
    margin: 8px;
    text-align:center;
    max-width: 70%;
}

.ability-list{
    width: 90%;
}

.section-portifolio{
    display: flex;
    width: 100%;
}

.portifolio-card-container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #219653;
    margin-bottom: 12px;
}

.section-portfolio-grid{
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    column-gap: 36px;
    margin-top: 48px;
}

.section-portfolio-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 384px;
    height: 300px;
    border-width: 2px;
    border-color: #d9d9d9;
    border-style: solid;
    border-radius: 24px;
}

.section-portfolio-image{
    width: 220px;
    height: 155px;
    margin-bottom: 12px;
}

.section-portfolio-subtitle{
    width: 234px;
    height: 44px;
    text-align: center;
    font-size: 16px;
}

.section-portifolio-icons-container{
    display: flex;
    flex-direction: row;
    width: 16%;
    align-items: baseline;
    justify-content: space-between;
}

.section-portfolio-card-icons{
    width: 24px;
    height: 24px;
}

.section-experiencias{
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.section-experiencias-card{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 800px;
    border-radius: 16px;
    background: #D9D9D9;
    margin-top: 24px;
    padding: 24px;
}

.section-experiencias-card-text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 16px;

}

.section-experiencias-card-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 0px;
}

.section-experiencias-card-subtitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin: 4px 0px 0px 0px;
}

.section-experiencias-card-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin: 6px 0px 0px 0px;
}

.section-experiencias-icons{
    width: 48px;
    height: 48px;
    border-radius: 12px;
}

.section-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 0x;
}

.section-contact-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.section-contact-item-icon{
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.section-footer-content{
    display: flex;
    flex-direction: row;
    width: 1216px;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.section-footer-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

.section-footer-icons{
    width: 36px;
    height: 36px;
    margin-right: 60px;
}
